:root {
    --purple-600: hsl(246, 80%, 60%);

     --orange-300: hsl(15, 100%, 70%);
     --blue-300: hsl(195, 74%, 62%);
     --pink-400: hsl(348, 100%, 68%);
     --green-400: hsl(145, 58%, 55%);
     --purple-700: hsl(264, 64%, 52%);
     --yellow-300: hsl(43, 84%, 65%);

     --navy-950: hsl(226, 43%, 10%);
     --navy-900: hsl(235, 46%, 20%);
     --purple-500: hsl(235, 45%, 61%);
     --navy-200: hsl(236, 100%, 87%);

     --work-bg-color: var(--orange-300);
     --play-bg-color: var(--blue-300);
     --study-bg-color: var(--pink-400);
     --exercise-bg-color: var(--green-400);
     --social-bg-color: var(--purple-700);
     --care-bg-color: var(--yellow-300);

     --fs-card-title: 1.8rem;
     --ff-family: 'Rubik'
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--navy-950);
    font-family: var(--ff-family);
}

main {
    padding: 2rem;
    font-size: 1.4rem;
}


.card {
    display: grid;
    gap: 1rem;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    background-color: var(--navy-900);
    color: white;
    padding: 1rem;
    margin-block-start: -110px;
}

.card-bg {
    display: block;
    height: 150px;
    background-repeat: no-repeat;
    background-size: 20%;
    background-position-x: 95%;
    background-color: var(--work-bg-color);
    color: var(--work-bg-color);
}

.card,
.card-bg {
    border-radius: 1rem;
}

.title,
.menu {
    display: inline-block;
    font-size: var(--fs-card-title);
}

.menu {
    justify-self: end;
}

.time {
    font-size: 3.2rem;
    grid-column: 1 / span 2;
}

.previous-time {
    grid-column: 1 / span 2;
}

.tracking-container {
    display: grid;
    grid-template-columns: 20% 80%;
    column-gap: 2rem;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
    gap: 2rem;
}

.profile-container {
    color: white;
    border: 1px solid red;

    div {
        padding: 1rem;
    }

    img {
        width: 30%;
    }

    h1 {
        font-size: clamp(2rem, 1.5vw, 3rem);
    }

    .profile {
        background-color: var(--purple-600);
        flex-grow: 1;
        border-radius: 1rem;
        z-index: 5;
    }

    .times {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        background-color: var(--navy-900);
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        margin-block-start: -1.5rem;
        padding-block-start: 2rem;
    }
}